.Certificates {
    width: 100%;
    min-height: 100vh;
}

.Certificates-title {
    font-size: 60px;
    margin: 0;
    padding: 0;
    margin: 0 0 50px 120px;
}

.Certificates-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Certificates-grid {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.Certificate-item {
    /* width: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Certificate-item img {
    width: 90%;
}